.addCounter
{
    background-color: white;
    text-align: center;
    margin: 2rem 1rem;
    padding: 1rem;
    border-radius: 10px;
}

.addCounter button
{
    color: white;
    background-color: blue;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 20px;
}

.addCounter button:hover
{
    color: blue;
    background-color: aliceblue;
}

.formCounterCancel button.createCounter
{
    color: white;
    background-color: blue;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.formCounterCancel button.createCounter:hover
{
    color: blue;
    background-color: aliceblue;
}

.formCounterCancel
{
    background-color: rgb(238, 235, 235);
    text-align: center;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 10px;
    max-width: 400px;
}

.formCounterCancel h4
{
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
}

.formCounterCancel label
{
    display: block;
    text-align: left;
    font-size: 18px;
    margin-bottom: 5px;
}

.formCounterCancel input
{
    display: block;
    width: 100%;
    padding: 8px 4px;
    margin-bottom: 15px;
    font-size: 18px;
}

.formCounterCancel button.cancelCounter
{
    color: white;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 15px;
    transition: all 0.3s;
}

.formCounterCancel button.cancelCounter:hover
{
    color: blue;
    background-color: aliceblue;
}